@use "@styles/theme" as *;

.card{
    margin: auto;
    border: 1px solid transparent;
    padding: 171px 157px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .inputFields{
        padding: 11px 0px !important;
        height: 50px !important;
        width: 100% !important;
        border: none;
        border-bottom: 1px solid $grey;
        border-radius: 0px;
        &:focus, &:active{
            border-bottom: 1px solid blue !important;
            box-shadow: none;
        }
    }
}